
/* Fondo y color de las pestañas */
ion-tab-bar {
    --background: #FFFFFF; /* Color de fondo de la barra de pestañas */
    --color: #333333; /* Color del texto y los íconos */
    --color-selected: #F58529; /* Color del texto y los íconos seleccionados */
}

/* Estilo para los botones de pestañas */
ion-tab-button {
    --color: #333333; /* Color del texto y los íconos no seleccionados */
    --color-activated: #F58529; /* Color del texto y los íconos cuando están seleccionados */
}

/* Estilo del ícono de las pestañas */
ion-icon {
    font-size: 24px; /* Tamaño del ícono */
}

/* Estilo para las etiquetas de las pestañas */
ion-label {
    font-size: 12px; /* Tamaño de fuente más pequeño para las etiquetas */
    font-weight: bold; /* Negrita para las etiquetas */
}
