/* Encabezado */
ion-header {
  --background: #F58529; /* Color de fondo naranja */
}

ion-toolbar {
  --background: #F58529; /* Fondo del toolbar */
}

ion-title {
  color: #FFFFFF; /* Color del texto del título */
  text-align: center; /* Centrar el texto */
  font-size: 1.5em; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negrita para el título */
}

/* Contenido */
ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-grid {
  --padding: 16px;
}

ion-card {
  border-radius: 16px; /* Bordes redondeados para las tarjetas */
  overflow: hidden; /* Asegura que el contenido no se salga de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la tarjeta */
}

ion-img {
  border-radius: 16px; /* Bordes redondeados para la imagen */
  object-fit: cover; /* Mantener la relación de aspecto de la imagen */
  width: 100%; /* Asegura que la imagen ocupa todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupa todo el alto del contenedor */
}

ion-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el ratón */
}

/* Botón Flotante */
ion-fab-button {
  --background: #E1306C; /* Color de fondo del botón flotante */
  --color: #FFFFFF; /* Color del ícono */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra del botón */
}

ion-fab-button:hover {
  --background: #C13584; /* Color del botón en hover */
}
